img {
    max-width: 40%;
    height: auto;
    border: 6px double black;
    
}

.container{
    text-align: center;
}

div {
    text-align: left;
    
    
}
.parameters{
    max-width: 60%;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
}

button {
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

body {
    border: 8px groove brown;
    background-color: beige;
}

.status{
    color: red;

}
#url{
    width: 80%;
}

#currentPhoto{
    width: 80%;
}
